.logo {
  color: $accent-color;
  font-family: $secondary-font-family;
  font-weight: $font-weight-bold;
  font-size: 26px;
  line-height: 1.2;
}
.logo-part-black {
  color: $main-text-color;
}
.logo-part-white {
  color: $main-background-color;
}
